// Tipografías

$fuentePrincipal: "Georgia", sans-serif;
$fuenteSecundaria: "Calibri", sans-serif;

//Colores

$gris: rgb(235, 231, 231);
$celeste: rgb(123, 207, 222);
$azul: rgb(28, 89, 182);
$negro: #000;
$blanco: #ffffff;
