@use "../abstracts/_variables" as *;
.cities {
  margin-top: 2rem;
  margin-bottom: 6rem;
  &__title {
    font-family: $fuentePrincipal;
  }
  &__title-main {
    font-size: 2.5rem;
    font-weight: bold;
    color: $negro;
    &__container {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
