@use "../abstracts/_variables.scss" as *;
@use "../abstracts/_mixins.scss";
.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;

  &__hero {
    width: 100%;
    height: 300px;
    overflow: hidden;
  }

  &__hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    max-width: 100%;
    position: absolute;
    color: $blanco;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
  }
  &__title_main {
    font-family: $fuentePrincipal;
  }
  &__title_main-welcome {
    font-size: 4.5rem;
    @include mixins.linear-text;
  }
  &__title_sub {
    font-family: $fuenteSecundaria;
    font-style: italic;
  }
  &__title_subtitle {
    font-size: 1.5rem;
    @include mixins.linear-text;
  }
}
@media (max-width: 420px) {
  .header__title_main-welcome {
    font-size: 1.75rem;
  }
  .header__title_subtitle {
    font-size: 0.5rem;
  }
}
