body {
    background-color: #eefeff;
    --bs-body-font-family: "Poppins", sans-serif;
}

h1,
h2 {
    color: royalblue;
}
#about{
    color: royalblue;
}
#foot{
    font-size: 0.7rem;
    color: gray;
}